@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Cinzel:wght@600&family=La+Belle+Aurore&family=Rye&display=swap');

/* GENERAL RULES*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

p {
    text-align: justify;
}

hr {
    border-top: 1px solid #333;
}

body {
    font-family: "Courier prime", sans-serif;
    background-color: #f2f2f2;
}

h2 {
    font-family: "Roboto Slab", sans-serif;
}

h3 {
    font-size: 150%;
}

header {
    height: 120px;
    background-color: #800000;
}

#site-logo {
    width: 120px;
    height: 120px;
    float: left;
    margin-left: 15px;
}

#site-logo img {
    width: 100px;
    padding: 10px;
}

#title {
    padding: 40px;
    font-family: Cinzel, sans-serif;
    letter-spacing: 8px;
    text-decoration: underline;
    color: #ffcc99;
    text-align: center;
}

#menu {
    float: right;
    padding-top: 20px;
}

#menu li {
    font-size: 120%;
    list-style-type: none;
    margin-right: 20px;
    float: right;
}

#menu a {
    color: #ffcc99;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
}

footer {
    width: 100%;
    background-color: #666666;
    font-family: Arial;
}

.footer-row {
    width: 80%;
    height: 3em;
    margin: 0 auto;
    padding: 20px 0;
    color: #f2f2f2;;
    text-align: center;
}

.footer-row span {
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    vertical-align: top;
}

.footer-row a {
    color: #f2f2f2;
    font-size: 250%;
}

@media only screen and (max-width: 390px) {
    header {
        height: 70px;
    }
    #site-logo {
        width: 50px;
        height: 50px;
        float: left;
        margin-left: 5px;
    }
    #site-logo img {
        width: 50px;
        padding: 10px 5px;
    }
    #title {
        letter-spacing: 4px;
        font-size: 70%;
        padding: 0;
        margin-top: 10px;
    }
    #menu {
        float: right;
        padding-top: 20px;
    }

    #menu li {
        font-size: 60%;
        list-style-type: none;
        margin-right: 5px;
        float: right;
    }

    #menu a {
        color: #ffcc99;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 10px;
    }
    .footer-row {
        width: 90%;
    }
    .footer-row span {
        width: 48%;
        font-size: 75%;
    }
    .footer-row a {
        font-size: 200%;
    }
}

/* INDEX.HTML */

#main {
    height: 400px;
    background-color: #333;
    background-image: url("../images/train-img.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

#moto {
    width: 450px;
    float: right;
    margin: 200px 6% 30px auto;
    padding: 15px;
    background-color: #800000;
    opacity: .8;
    font-size: 120%;
}

#moto h3 {
    font-size: 100%;
}

#pros {
    width: 100%;
    height: 140px;
    text-align: center;
    background-color: white;
}

#pros>div {
    width: 15%;
    height: 100px;
    margin: 10px 2%;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#pros h3 {
    font-size: 200%;
}

#info h2 {
    text-align: center;
    font-size: 230%;
}

#info p {
    text-align: justify;
    font-size: 130%;
}

#info div {
    margin: 40px 15%;
}

#info span {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}

#info img {
    width: 100%;
}

@media only screen and (max-width: 390px) {

    #pros {
        height: 200px;
    }

    #pros>div {
        width: 25%;
        height: 50px;
        margin: 10px 2%;
        padding-top: 10px;
        font-size: 80%;
    }

    #pros h3 {
        font-size: 150%;
    }

}

/* BOOKING.HTML */

#ticket-background {
    background:
    url("../images/train-inside.png")
    top center / cover
    no-repeat
    fixed;
}

#ticket-form {
    margin-top: 10%;
}

#booking {
    width: 40%;
    height: 17.5em;
    margin: 20px auto;
    padding: 1% 20% 1% 8%;
    background-image: url("../images/ticket-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    opacity: .85;
}

#ticket-header {
    margin: 0 41% 5% 25%;
    padding-top: 0.6%;
    text-align: center;
    font-family: Cinzel, sans-serif;
}

.ticket-data {
    width: 70%;
    margin: 0 0 10px 25%;
}

.ticket-data input {
    width: 70%;
    font-family: Cinzel, sans-serif;
    font-size: 1.5em;
    background: transparent;
    border-bottom: 1px solid grey;
}

.ticket-data select {
    font-family: Cinzel, sans-serif;
    font-size: 1.2em;
    background: transparent;
    border-bottom: 1px solid grey;
}

#date {
    width: 50%;
    color: red;
}

.station {
    width: 39%;
    display: inline-block;
    margin-top: 1.5%;
    margin-left: 10px;
}

.station label {
    margin-right: 5px;
}

.station input {
    width: 70%;
    margin: 0 0 0 0;
    font-size: 1.2em;
    font-family: Cinzel, sans-serif;
    background: transparent;
    border-bottom: 1px solid grey;
}

#ticket-submit {
    width: 60%;
    margin: 20px auto;
}
#ticket-submit div{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 7%;
}

#captcha {
    background-color: white;
    background-image: url(../images/recaptcha-logo.png);
    background-size: 25%;
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid black;
    margin: 5px 15px;
    padding: 15px 42px 15px 10px;
    color: black;
    font-family: Arial;
}

#get-ticket {
    float: right;
    width: 8em;
    height: 2em;
    margin: 10px 20px;
    font-size: 1.5em;
    border: 5px solid #ffcc99;
    border-radius: 4px;
    background-color: #800000;
    color: #ffcc99;
}

#booking-info {
    width: 90%;
    margin: 10px auto;
}

#booking-info div {
    width: 70%;
    margin: 0 auto;
}

#booking-info summary {
    opacity: 1;
}

#booking-info details {
    background-color: white;
    opacity: .6;
    font-size: 150%;
}

/* ABOUT US page */

#history {
    width: 70%;
    margin: 15px auto;
    text-align: center;
    text-indent: 30px;
}

/* Reviews section */

#reviews {
    width: 70%;
    margin: 10px auto;
    text-align: center;
}

#reviews div {
    margin-bottom: 20px;
    padding: 15px 0;
    background-color: white;
    opacity: .8;
}

#reviews span {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

#reviews img {
    width: 50%;
}

.review-text {
    /*background-color: white;*/
    padding: 10px;
    opacity: 0.8;
}

/* Feedback section*/
#feedback {
    width: 80%;
    margin: 15px auto;
}

#feedback table, th, td{
    border-collapse: collapse;
    background-color: #ffcc99;
    border: 3px solid #ffb366;
    padding: 20px;
}

.avatar {
    width: 10%;
    text-align: center;
    vertical-align: bottom;
}

.avatar img {
    width: 100%;
    border: 3px solid #800000;
}

.quoting {
    background-color: #ffb366;
    font-size: 85%;
}

#your-msg {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffcc99;
    border: 3px solid #ffb366;
    /*background-image: url("../images/msg-bg.png");*/
    background-repeat: no-repeat;
    background-size: cover;
}

#your-msg span{
    width: 10%;
    display: inline-block;
    margin: 0, 5px;
}

#your-msg input{
    margin: 5px 30px;
}

#your-msg textarea {
    width: 50%;
    height: 100px;
}


#partners {
    width: 94%;
    margin: 15px auto;
    text-align: center;
}

#partners div {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    padding-top: 1.5%;
    background-image: url("../images/partners-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: #ffcc99;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    text-transform: uppercase;
}

#partners > span {
    width: 12%;
    height: 250px;
    margin: 0 auto;
    padding: 3% 20px;
    display: inline-block;
    vertical-align: top;
    background-image: url("../images/scroll.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#partners h4 {
    text-align: center;
    font-size: 90%;
    text-transform: uppercase;
}

#partners img {
    width: 90%;
    margin: 0 auto;
}

#partners p {
    font-size: 80%;
}

/* RESPONSIVE */



/* footer */

/*icons:
hat-wizard

*/